.auth-card{
	width: 40%;
	margin: 20px auto 0 auto;

	mat-form-field{
		width: 100%;
		padding:10px;
		input{
		    padding: 7px 0;
			line-height: 20px;
		}
	} 

	mat-card-title{
		color: red;
	}

	div.logo{
		display: flex;
		justify-content: center;
	}
}