.flex-container{
	display: flex;
}

.elements-spacer{
	flex: 1 1 auto;
}

.full-width{
	width: 100%;
}

.active{
	color: $active_color !important;
	border-left: 4px solid $active_color;
	font-weight: 700;
	transition: all .3s ease-in;
	div.mat-list-item-content{
		&:focus,&:visited,&:active,&:hover{
			background-color: transparent;
		}
	}
}

.no-marge{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.fab-btn{
	position: absolute;
	bottom: 20px;
	right: 0;
}