html, body { height: 100%; }
body { 
	margin: 0;
	font-family: "Nunito", "Helvetica Neue", sans-serif;
	background-color : $grey__background;
	.mat-drawer-container{
		background-color : inherit;
	}
	mat-sidenav-content{
		padding: 0 25px;
	}

	.content{
		border-radius: 4px;
		&-bg-white{
			padding: 10px 20px;
			background-color: $white;
		}
		&-elevation{
			@include mat-elevation(2);
		}
	}
}

.row{
	&.between{
		justify-content: space-between;
	}
	&.start{
		align-items: flex-start;
	}
	&.end{
		align-items: flex-end;
	}
}

mat-sidenav-content.wrapper.container.mat-drawer-content.mat-sidenav-content{
	margin-left : 14% !important;
}

.sidenav-container{
	height: 90%;
}

mat-sidenav{
	&.mat-drawer{
		width: 14%;
		background-color: transparent;
		border: none;
	}
}

.user{
	.img-wrapper{
		display: flex;
    	align-items: center;
    	padding: 0 0 0 10px;
    	width: 50px;
    	height: 50px;
		img.avatar{
			border-radius: 50%;
			border: 2px #BEBDBD solid;
			width: 100%;
		}
	}
	button{
		padding:0;
		line-height: 0;
		& > span {
			font-weight: 900;
		}
	}
	span.role{
		font-size: 14px;
		display: block;
		line-height: 10px;
	}
}


ng-progress{
	& > div.ng-progress-bar{	
		& > div.ng-bar-placeholder{
			height: 4px !important;
		}
	}
}