html, body { height: 100%; }
body { 
	margin: 0;
	font-family: "Nunito", "Helvetica Neue", sans-serif;
	background-color : $grey__background;
	.mat-drawer-container{
		background-color : inherit;
	}
	mat-sidenav-content{
		padding: 0 25px;
	}

	.content{
		margin-top: 10px;
		&-bg-white{
			padding: 10px 20px;
			background-color: $white;
		}
		&-elevation{
			@include mat-elevation(3);
		}
	}
}

.sidenav-container{
	height: 90%;
}

mat-sidenav{
	margin-top: 64px;
	&.mat-drawer{
		width: 15%;
		background-color: transparent;
		border: none;
	}
}