html, body { height: 100%; }
body { 
	margin: 0;
	font-family: "Nunito", "Helvetica Neue", sans-serif;
	background-color : $grey__background;
	.mat-drawer-container{
		background-color : inherit;
	}
	mat-sidenav-content{
		padding: 0 25px;
	}

	.content{
		border-radius: 4px;
		&-bg-white{
			padding: 10px 20px;
			background-color: $white;
		}
		&-elevation{
			@include mat-elevation(2);
		}
	}
}

.row{
	justify-content: space-evenly;
	align-items: flex-end;
}

mat-sidenav-content.wrapper.container.mat-drawer-content.mat-sidenav-content{
	margin-left : auto !important;
}

.sidenav-container{
	height: 90%;
}

mat-sidenav{
	&.mat-drawer{
		width: 13%;
		background-color: transparent;
		border: none;
	}
}