<mat-card class="auth-card">
	<mat-card-header>
	    <mat-card-title>Shiba Inu</mat-card-title>
	    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
	    <mat-form-field>
		    <input matInput placeholder="Enter your svn" [formControl]="svnLogin" required>
		    <mat-error *ngIf="svnLogin.invalid">Cannot be empty</mat-error>
		</mat-form-field>

		<mat-form-field>
		    <input matInput placeholder="Enter your email" [formControl]="email" required>
		    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>

		<mat-form-field>
		    <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
		    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		    <mat-error *ngIf="password.invalid">Min is 6 characters</mat-error>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions>
    	<button mat-raised-button color="primary" (click)="signUp()">Sign UP</button>
  	</mat-card-actions>
</mat-card>
