table {
  width: 100%;
  .mat-column-user{
  	width: 20%;
  	.op-img-wrapper{
  		height: 40px;
  		width: 40px;
  		img{
  			height: 100%;
  		}
  	}
  	.op-info{
  		display: flex;
  		justify-content: center;
  		flex-direction: column;
  		&--username{
  			font-weight: 600;
  		}
  	}
  }
  .mat-column-description{
  	width: 60%;
  }
}