<div class="row start no-marge">
	<div class="content content-bg-white content-elevation col-md-4">
		<div class="row">
			<div class="col-md-12">
				<mat-radio-group (change)="onChange()"
				aria-labelledby="example-radio-group-label"
				[labelPosition]="'after'"
				class="example-radio-group"
				[(ngModel)]="env">

				<mat-radio-button class="radio-button" [value]="'d'">
					Développement
				</mat-radio-button>
				<br>
				<mat-radio-button class="radio-button" [value]="'ih'">
					IH envirenement
				</mat-radio-button>
			</mat-radio-group>
			</div>
		</div>
		<div class="row">
			<app-complete class="col-md-12"
				[url]="'/params/flows'"
				[required]="true"
				[len]="3"
				[name]="'flux'"
				[placeholder]="'Choisir le flux'"
				(onSelectChange)="getFlowInfos($event)"
				[(ngModel)]="flux_package.flow_name">
			</app-complete>

			<app-complete #auto
				class="col-md-12"
				[required]="true"
				[url]="'/params/packages'" 
				[len]="2"
				[params]="packageParams"
				[name]="'packages'"
				[placeholder]="'Choisir le package'"
				[(ngModel)]="flux_package.package_name">
			</app-complete>
		</div>
	</div>
	<div class="row col-md-6">
		<mat-card class="col-md-12" style="margin:0 0 15px 15px;" *ngFor="let config of flux_package.configs">
		  	<mat-card-content>
		    	<mat-form-field appearance="outline" class="col-md-12">
		            <mat-label>Processus de flux</mat-label>  
		            <input matInput [(ngModel)]="config.version_courante">
		        </mat-form-field>

		        <mat-form-field appearance="outline" class="col-md-12">
		            <mat-label>Processus de flux</mat-label>  
		            <input matInput [(ngModel)]="config.version_cible">
		        </mat-form-field>

		        <app-select [(ngModel)]="config.etat" class="col-md-12" 
                            [source]="etat" placeholder="État">
                </app-select>
                
		  </mat-card-content>
		</mat-card>
	</div>
</div>
<div class="fab-btn">
	<button mat-fab color="primary" (click)="sendData()">Ajouter</button>
</div>
