<div class="content">
    <mat-accordion [multi]="true" class="example-headers-align">
        <mat-expansion-panel [expanded]="true" (opened)="setStep(0)" hideToggle>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Operation : {{operation}}
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <mat-form-field class="col-md-5 form-field form-field-lg">
                    <input (keyup)="setFlowApps($event)" matInput placeholder="Entrer le nom" [(ngModel)]="flow.nom" required>
                </mat-form-field>
                <div class="col-md-6 row">
                    <mat-form-field appearance="outline" class="col-md-4">
                        <mat-label>Processus de flux</mat-label>  
                        <input matInput disabled [(ngModel)]="flow.processus" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-4">
                        <mat-label>Application Source</mat-label>
                        <input matInput disabled [(ngModel)]="flow.application_source" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Application Cible</mat-label>
                        <input matInput disabled [(ngModel)]="flow.application_cible" required>
                    </mat-form-field>
                </div>
            </div>

            <mat-action-row>
                <button mat-button  color="primary" (click)="getFlow()"
                [disabled]="flow.application_cible.length < 3 || flow.application_source.length < 3 || flow.processus.length < 5" >Suivant</button>
            </mat-action-row>
            
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" [disabled]="step !== 1" hideToggle>
            <mat-expansion-panel-header>
                    <!-- <mat-panel-title class="mat-h2">
                        Évolution du flux {{flow.nom}}
                    </mat-panel-title> -->
            </mat-expansion-panel-header>

            <div class="row" style="justify-content: space-evenly;align-items: flex-end;">
                <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label>Patrimoine</mat-label>
                    <input matInput placeholder="Patrimoine" [(ngModel)]="flow.partimoine_source">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label>Projet Tibco</mat-label>
                    <input matInput placeholder="Projet Tibco" [(ngModel)]="flow.projet_tibco">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label>Objet manipulé</mat-label>
                    <input matInput placeholder="Objet manipulé" [(ngModel)]="flow.objet_manipule">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Version CI trunk</mat-label>
                    <input matInput placeholder="Version CI trunk"  [(ngModel)]="flow.version_ci_trunk">
                </mat-form-field>
            </div>

            <div class="row" style="justify-content: space-evenly;align-items: flex-end;">
                <app-select [(ngModel)]="flow.denomination" class="col-md-2" 
                            [disabled]="d_disabled" (onChange)="onDenoChange($event)"
                            [source]="denomination" placeholder="Dénomination">  
                </app-select>

                <app-select [(ngModel)]="flow.type_source" class="col-md-2" 
                            [source]="type_source" placeholder="Type de source">
                </app-select>

                <app-select [(ngModel)]="flow.type_cible" class="col-md-2" 
                            [source]="type_cible" placeholder="Type de cible">
                </app-select>

                <app-select [(ngModel)]="flow.mvs_cible" class="col-md-2" 
                            [disabled]="flow.type_cible != type_cible.MVS"
                            [source]="mvs" placeholder="Instance MVS">
                </app-select>

                <app-select [(ngModel)]="flow.planification" class="col-md-2" 
                            [source]="planification" placeholder="Planification">
                </app-select> 
            </div>

            <div class="row" style="justify-content: space-evenly;align-items: flex-end;">


                <mat-form-field class="col-md-3">
                    <textarea matInput [(ngModel)]="flow.description_demi_flux" placeholder="Textarea"></textarea>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <textarea matInput cdkTextareaAutosize [(ngModel)]="flow.description_flux" placeholder="Textarea"></textarea>
                </mat-form-field>

                <mat-form-field class="col-md-1">
                    <input matInput placeholder="Délais" [(ngModel)]="flow.delai" required>
                </mat-form-field>

                <app-select [(ngModel)]="flow.criticite" class="col-md-2" 
                            [source]="criticite" placeholder="Criticité">
                </app-select> 

            </div>  

            <mat-action-row>
                <button mat-button color="primary" (click)="sendFlow()">Envoyer</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
</div>