<div class="content">

    <h2>{{operation}} Flow!</h2>

    <div class="row">
        <mat-form-field class="col-md-6 form-field form-field-lg">
            <input (keyup)="setFlowApps($event)" matInput placeholder="Enter the name" [(ngModel)]="flow.nom" required>
        </mat-form-field>
        <div class="col-md-6 row">
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Processus de flux</mat-label>  
                <input matInput disabled [value]="flow.process" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Application Source</mat-label>
                <input matInput disabled [value]="flow.appSource" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Application Cible</mat-label>
                <input matInput disabled [value]="flow.appCible" >
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-grid-list cols="5" rowHeight="1:1">

        <mat-grid-tile colspan="3" class="flex-column">

            <div class="row">
                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Patrimoine">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Projet Tibco">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Objet manipulé">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Vercion CI trunk">
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Vercion CI Correction">
                </mat-form-field>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan="2" class="flex-column">
            <div class="row">
                <app-select class="col-md-6" [source]="denomination" placeholder="Dénomination"></app-select> 
                <app-select class="col-md-6" [source]="type_source" placeholder="Type de source"></app-select> 
            </div>
            <div class="row">
                <app-select class="col-md-6" [source]="type_cible" placeholder="Type de cible"></app-select> 
                <app-select class="col-md-6" [source]="mvs" placeholder="Instance MVS"></app-select>  
            </div>
            <div class="row">
                <app-select class="col-md-6" [source]="planification" placeholder="Planification"></app-select> 
            </div>
        </mat-grid-tile>

    </mat-grid-list>

</div>